body {
  margin: 20px;
  overflow: hidden;
  background: linear-gradient(to right, #b3d8bf, #d0f38f);
  font-family: 'Roboto';
}

#root {
  margin: 20px auto;
}

ol,
ul {
  padding-left: 30px;
}

a {
  text-decoration: none;
}

.footer {
  padding: auto;

  &:only-child{
    text-align: end;
    padding-right: 5em;
  }
}

div[mapboxgl-children] {
  display: none;
}

button.mapboxgl-ctrl-attrib-button {
  display: none;
}

div.mapboxgl-ctrl-attrib-inner {
  font-size: 12px;

  a + a {
    padding-left: 0.5em;
  }

  @media only screen and (max-width: 900px) {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
  }
}

.MuiDrawer-root > .MuiPaper-root {
  height: calc(60% - 80px);
  overflow-y: visible;
}