body {
  margin: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom right, rgb(166, 231, 186), rgb(208, 243, 143));
}

#root {
  margin: 20px auto;
}

ol,
ul {
  padding-left: 30px;
}

a {
  text-decoration: none;
}

.footer {
  padding: auto;

  &:only-child{
    text-align: end;
    padding-right: 5em;
  }
}

div[mapboxgl-children] {
  display: none;
}

.MuiDrawer-root > .MuiPaper-root {
  height: calc(60% - 80px);
  overflow-y: visible;
}