body {
  overflow: hidden;
  background: linear-gradient(to bottom, #b3c9d8, #d0f38f);
  font-family: 'Roboto';
  height: 100vh;
}

#root {
  margin: auto;
}

ol,
ul {
  padding-left: 30px;
}

a {
  text-decoration: none;

  &:visited {
    color: rgb(0, 0, 238);
  }
}

.footer {

  &:only-child{
    text-align: end;
    padding-right: 5em;
  }
}

div[mapboxgl-children] {
  display: none;
}

button.mapboxgl-ctrl-attrib-button {
  display: none;
}

div.mapboxgl-ctrl-attrib-inner {
  font-size: 12px;

  a + a {
    padding-left: 0.5em;
  }

  @media only screen and (max-width: 900px) {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    padding-bottom: 0.5em;
  }
}

.MuiDrawer-root > .MuiPaper-root {
  height: calc(60% - 80px);
  overflow-y: visible;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}